{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
    <title></title>
</head>
<body>

	
<form 	id="container" class="std"
		action="{% url 'polls:vote' %}" method="post">
</form>

</body>
<script type="text/javascript" src={% static 'polls/js/builder.js' %}></script>
<script type="text/javascript"
<script type="text/javascript">
	var data = {{ formset|safe }};
	buildStructure();
</script>
</html>