{% load admin_static %}{% load firstof from future %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="container">
<form action="{% url 'polls:vote' %}" method="post">

    {% for quest in formset %}

        {{ quest.question_text }}

        <br>
        {% for choice in quest.question_choice %}<br>
            <input type="{{ quest.question_input_type }}"  name="{{ quest.question_id }}" value="{{ choice.choice_id }}"><span>{{ choice.choice_text }}</span>

        {% endfor %}
        <br>
        ===========================
        <br>
    {% endfor %}

<input type="submit" value="Ответить" />
</form>
</div>
</body>
</html>